
.holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flexbox{
   background-color: darkslategrey;
    color: white;
     width: 80px;
    height: 80px;
    text-align: center;
    line-height: 100px;
    
}